# mod_rewrite starts here

RewriteEngine on 

# does not apply to existing directories, so if the folder doesn't exist on the server don't change anything and don't run the Rule!

RewriteCond %{REQUEST_FILENAME} !-d

#  Check for file in directory with .html extention

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC,L]