article {
  padding-bottom: 1.5em;
}

body {
  background-color: #898b8b;
  background-image: url("images/bg.jpg");
  position: relative;
  display: flex;
  height: 100vh;
}

h1 {
  background-color: #000300;
  color: #f7f9f9;
  float: left;
  font-family: "Roboto Slab", serif;
  font-size: 2.5em;
  padding: 0.25em;
  text-align: left;
}

.about {
  color: #02040f;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5em;
  font-size: 1.15em;
  float: left;
  width: 95%;
}

.anav {
  color: #f7f9f9;
  text-decoration: none;
  padding: 0.1em;
}

.container {
  background: #3f4045;
  color: #000300;
  margin: 4em auto 1em;
  padding: 1.25em;
  width: 85%;
  top: 1.5em;
  position: relative;
  border-top: 1.2em solid #000300;
  height: max-content;
}

.contacts div {
  display: flex;
  flex-grow: 1;
}

.contacts h3 {
  font-size: 1.25em;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5em;
  margin: 0.25em;
}

.contacts a {
  text-decoration: none;
  color: #000300;
}

.headClass {
  background-color: #3f4045;
  border: 0.16em;
  border-bottom: 0.2em solid;
  border-color: #000300;
  font-family: "Oxygen", sans-serif;
  height: 3.7em;
  margin-bottom: 0.8em;
  position: fixed;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  color: #f7f9f9;
}

.headWidth {
  width: 88%;
  margin: 0 auto;
}

nav a:hover {
  background-color: #ccff00;
  color: #000300;
  transition: 0.33s ease;
}

.labelPhoto {
  background: #235789;
  bottom: 3.8em;
  color: #e5dada;
  justify-content: stretch;
  display: flex;
  font-family: "Roboto Slab", serif;
  font-size: 1.2em;
  position: relative;
  width: 100%;
  /* height: 2.7em; */
  text-decoration: none;
}

.labelPhoto a {
  height: 100%;
  width: 100%;
}

.labelPhoto a:hover,
.labelPhoto h1:focus {
  background-color: #e59500;
  color: #f7f9f9;
  transition: 0.33s ease;
}

.labelPhoto p {
  text-decoration: none;
}

.labelText {
  color: #f7f9f9;
  text-decoration: none;
}

.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.photo i {
  font-size: 3em;
  background: #000300;
  border-radius: 50%;
  color: #f7f9f9;
  position: absolute;
  bottom: 1.56em;
  left: 4.5em;
  border: 0.063em solid #000300;
}

.photo i:hover,
.icon:focus i {
  background-color: #f7f9f9;
  color: #e59500;
  transition: 0.33s ease;
  border-color: #f7f9f9;
}

.portImage {
  width: 17.2em;
  height: 14em;
  border-radius: 5%;
  border: 0.3rem solid #e59500;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.labelText {
  padding: 0.5em 0 0.5em 0.4em;
}

.tech {
  font-size: 0.7em;
  padding-top: 0.55em;
}

.me {
  margin: 0.35em 1.25em 1.25em 0;
  float: left;
  width: 9rem;
}

nav {
  color: #e5dada;
  font-family: "Oxygen", sans-serif;
  font-weight: 500;
  padding-top: 1.3em;
  text-decoration: none;
  text-align: right;
}

.pageTitle {
  color: #f7f9f9;
  font-size: 2em;
  font-family: "Roboto Slab", serif;
  text-align: left;
  margin-bottom: 0.5em;
  width: 100%;
}

.photo {
  margin: 0.4em 1.5em 0 0;
  position: relative;
}

main a:hover {
  background-color: #e59500;
  color: #f7f9f9;
  transition: 0.33s ease;
}

footer {
  background-color: #000300;
  bottom: 0;
  color: #ebebeb;
  height: 3em;
  font-family: "Oxygen", sans-serif;
  font-size: 0.8em;
  position: fixed;
  width: 100%;
}

@media only screen and (max-width: 980px) {
  article {
    align-content: left;
  }

  .container {
    width: 80%;
    margin: 0 left;
  }

  .headClass {
    margin: 0 left;
    width: 100%;
  }

  nav {
    width: 100%;
  }

  .headWidth {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 left;
  }

  .headClass {
    width: 100%;
    background: #f7f9f9;
  }

  .headWidth {
    width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  .anav {
    height: 3.5em;
    text-align: center;
  }

  .headClass {
    height: 5.5em;
    background: #e5dada;
    width: 100%;
  }

  .headWidth {
    width: 100%;
    text-align: center;
  }

  h1 {
    width: 100%;
    text-align: center;
  }

  .photo {
    margin: 0 auto;
  }

  nav {
    width: 100%;
    height: 4em;
    text-align: center;
  }

  .container {
    width: 100%;
    position: relative;
    margin-bottom: 1em;
  }

  .me {
    width: 100%;
  }

  footer {
    padding: 0;
    text-align: center;
  }
}
