article {
  padding-bottom: 1.5em;
}

@media (max-width: 980px) {
  article {
    -ms-flex-line-pack: left;
        align-content: left;
  }
}

body {
  background-color: #898b8b;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

h1 {
  background-color: #000300;
  color: #e5dada;
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  padding: 0.25rem;
  height: 3.2rem;
  width: 15rem;
}

@media (max-width: 980px) {
  h1 {
    text-align: center;
  }
}

@media (max-width: 640px) {
  h1 {
    width: 100%;
    height: 2.4rem;
  }
}

main a:hover {
  background-color: #e59500;
  color: #e5dada;
  -webkit-transition: 0.33s ease;
  transition: 0.33s ease;
}

nav {
  color: #e5dada;
  font-family: "Oxygen", sans-serif;
  font-weight: 500;
  padding-top: 1.35rem;
  text-decoration: none;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav a:hover {
  background-color: #e59500;
  color: #000300;
  -webkit-transition: 0.33s ease;
  transition: 0.33s ease;
}

@media (max-width: 980px) {
  nav {
    width: 100%;
    padding-top: 0;
    margin-top: -2.2rem;
  }
}

@media (max-width: 640px) {
  nav {
    text-align: center;
    margin-top: 0.5rem;
  }
}

footer {
  background-color: #000300;
  bottom: 0;
  color: #e5dada;
  height: 3em;
  font-family: "Oxygen", sans-serif;
  font-size: 0.8em;
  position: fixed;
  width: 100%;
}

@media (max-width: 640px) {
  footer {
    padding: 0;
    text-align: center;
  }
}

.about {
  color: #e5dada;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5em;
  font-size: 1.15em;
  float: left;
  width: 95%;
}

.anav {
  color: #e5dada;
  text-decoration: none;
  padding: 0.1em;
}

@media (max-width: 768px) {
  .anav {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .anav {
    height: 3.5em;
    text-align: center;
  }
}

.contacts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contacts h3 {
  color: #e5dada;
  font-size: 1.25em;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5;
  margin: 0.25em;
}

.contacts a {
  text-decoration: none;
  color: #e5dada;
}

.container {
  width: 88%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container a {
  color: #e5dada;
  text-decoration: none;
  padding: 0.1em;
}

@media (max-width: 640px) {
  .container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 980px) {
  .container {
    width: 90%;
  }
}

.content-box {
  background: #3f4045;
  color: #000300;
  margin: 4em auto 1em;
  padding: 1.25rem;
  width: 85%;
  top: 1.5rem;
  position: relative;
  border-top: 1.2em solid #e59500;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 980px) {
  .content-box {
    width: 80%;
    margin: 0 left;
  }
}

@media (max-width: 768px) {
  .content-box {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .content-box {
    width: 100%;
    position: relative;
    margin-bottom: 1em;
    border: 0;
  }
}

.headClass {
  background-color: #3f4045;
  border: 0.16em;
  border-bottom: 0.2em solid;
  border-color: #000300;
  font-family: "Oxygen", sans-serif;
  height: 3.7em;
  margin-bottom: 0.8em;
  position: fixed;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #e5dada;
}

@media (max-width: 640px) {
  .headClass {
    height: 5.3em;
    background: #000300;
  }
}

@media (max-width: 768px) {
  .headClass {
    background: #000300;
  }
}

@media (max-width: 980px) {
  .headClass {
    margin: 0 left;
    width: 100%;
  }
}

.labelPhoto {
  background: #235789;
  bottom: 3.8em;
  color: #e5dada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  font-family: "Roboto Slab", serif;
  font-size: 1.2em;
  position: relative;
  width: 100%;
  -webkit-clip-path: polygon(0 1%, 100% 0, 82% 100%, 0% 100%);
  /* height: 2.7em; */
  text-decoration: none;
}

.labelPhoto a {
  height: 100%;
  width: 100%;
}

.labelPhoto a:hover,
.labelPhoto h1:focus {
  background-color: #e59500;
  color: #e5dada;
  -webkit-transition: 0.33s ease;
  transition: 0.33s ease;
}

.labelPhoto p {
  text-decoration: none;
}

.labelText {
  color: #e5dada;
  text-decoration: none;
}

.grow:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.photo {
  margin: 0.3em 2.2em 0 0;
  position: relative;
}

.photo i {
  font-size: 3em;
  background: #000300;
  border-radius: 50%;
  color: #e5dada;
  position: absolute;
  bottom: 1.56em;
  left: 4.5em;
  border: 0.063em solid #000300;
}

.photo i:hover {
  background-color: #e5dada;
  color: #e59500;
  -webkit-transition: 0.33s ease;
  transition: 0.33s ease;
  border-color: #e5dada;
}

@media (max-width: 640px) {
  .photo {
    margin: 0 auto;
  }
}

.icon:focus i {
  background-color: #e5dada;
  color: #e59500;
  -webkit-transition: 0.33s ease;
  transition: 0.33s ease;
  border-color: #e5dada;
}

.portImage {
  width: 17.2em;
  height: 14em;
  border: 0.2rem solid #e59500;
  -webkit-clip-path: polygon(100% 0, 100% 69.5%, 78.5% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 69.5%, 78.5% 100%, 0 100%, 0 0);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.labelText {
  padding: 0.5em 0 0.5em 0.4em;
}

.me {
  margin: 0.35em 1.25em 1.25em 0;
  float: left;
  width: 9rem;
}

@media (max-width: 640px) {
  .me {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
  }
}

.pageTitle {
  color: #e5dada;
  font-size: 2em;
  font-family: "Roboto Slab", serif;
  text-align: left;
  margin-bottom: 0.5em;
  width: 100%;
}

.tech {
  font-size: 0.7em;
  padding-top: 0.55em;
}
/*# sourceMappingURL=style.css.map */