$colors: (
  bg: #898b8b,
  bg-dark: #3f4045,
  text-black: #000300,
  secondary: #235789,
  accent: #e59500,
  text-white: #e5dada
);

$line-height: 1.5;
$body-font: "Oxygen", sans-serif;
$head-font: "Roboto Slab", serif;
$transition-time: 0.33s ease;
$mobile: 640px;
$tablet: 768px;
$laptop: 980px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

article {
  padding-bottom: 1.5em;

  @include laptop {
    align-content: left;
  }
}

body {
  background-color: color(bg);
  position: relative;
  display: flex;
  height: 100vh;
}

h1 {
  background-color: color(text-black);
  color: color(text-white);
  font-family: $head-font;
  font-size: 2.5rem;
  padding: 0.25rem;
  height: 3.2rem;
  width: 15rem;

  @include laptop {
    -webkit-flex-flow: row wrap;
    text-align: center;
  }

  @include mobile {
    width: 100%;
    height: 2.4rem;
  }
}

main a:hover {
  background-color: color(accent);
  color: color(text-white);
  transition: $transition-time;
}

nav {
  color: color(text-white);
  font-family: $body-font;
  font-weight: 500;
  padding-top: 1.35rem;
  text-decoration: none;
  text-align: right;
  box-sizing: border-box;
  -webkit-flex-flow: row wrap;

  a:hover {
    background-color: color(accent);
    color: color(text-black);
    transition: $transition-time;
  }

  @include laptop {
    width: 100%;
    padding-top: 0;
    margin-top: -2.2rem;
  }

  @include mobile {
    text-align: center;
    margin-top: 0.5rem;
  }
}

footer {
  background-color: color(text-black);
  bottom: 0;
  color: color(text-white);
  height: 3em;
  font-family: $body-font;
  font-size: 0.8em;
  position: fixed;
  width: 100%;

  @include mobile {
    padding: 0;
    text-align: center;
  }
}

.about {
  color: color(text-white);
  font-family: $body-font;
  line-height: 1.5em;
  font-size: 1.15em;
  float: left;
  width: 95%;
}

.anav {
  color: color(text-white);
  text-decoration: none;
  padding: 0.1em;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    height: 3.5em;
    text-align: center;
  }
}

.contacts {
  div {
    display: flex;
    flex-grow: 1;
  }

  h3 {
    color: color(text-white);
    font-size: 1.25em;
    font-family: $body-font;
    line-height: $line-height;
    margin: 0.25em;
  }

  a {
    text-decoration: none;
    color: color(text-white);
  }
}

.container {
  width: 88%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    color: color(text-white);
    text-decoration: none;
    padding: 0.1em;
  }

  @include mobile {
    width: 100%;
    justify-content: center;
  }

  @include laptop {
    width: 90%;
  }
}

.content-box {
  background: color(bg-dark);
  color: color(text-black);
  margin: 4em auto 1em;
  padding: 1.25rem;
  width: 85%;
  top: 1.5rem;
  position: relative;
  border-top: 1.2em solid color(text-black);
  height: fit-content;

  @include laptop {
    width: 80%;
    margin: 0 left;
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
    position: relative;
    margin-bottom: 1em;
    border: 0;
  }
}

.headClass {
  background-color: color(bg-dark);
  border: 0.16em;
  border-bottom: 0.2em solid;
  border-color: color(text-black);
  font-family: $body-font;
  height: 3.7em;
  margin-bottom: 0.8em;
  position: fixed;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  color: color(text-white);

  @include mobile {
    height: 5.3em;
    background: color(text-black);
  }

  @include tablet {
    background: color(text-black);
  }

  @include laptop {
    margin: 0 left;
    width: 100%;
  }
}

.labelPhoto {
  background: color(secondary);
  bottom: 3.8em;
  color: color(text-white);
  display: flex;
  justify-content: stretch;
  font-family: $head-font;
  font-size: 1.2em;
  position: relative;
  width: 100%;
  -webkit-clip-path: polygon(0 1%, 100% 0, 82% 100%, 0% 100%);

  /* height: 2.7em; */
  text-decoration: none;

  a {
    height: 100%;
    width: 100%;
  }

  a:hover,
  h1:focus {
    background-color: color(accent);
    color: color(text-white);
    transition: $transition-time;
  }

  p {
    text-decoration: none;
  }
}

.labelText {
  color: color(text-white);
  text-decoration: none;
}

.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.photo {
  margin: 0.3em 2.2em 0 0;
  position: relative;

  i {
    font-size: 3em;
    background: color(text-black);
    border-radius: 50%;
    color: color(text-white);
    position: absolute;
    bottom: 1.56em;
    left: 4.5em;
    border: 0.063em solid color(text-black);
  }
  i:hover {
    background-color: color(text-white);
    color: color(accent);
    transition: $transition-time;
    border-color: color(text-white);
  }

  @include mobile {
    margin: 0 auto;
  }
}

.icon:focus i {
  background-color: color(text-white);
  color: color(accent);
  transition: $transition-time;
  border-color: color(text-white);
}

.portImage {
  width: 17.2em;
  height: 14em;
  border: 0.2rem solid color(accent);
  clip-path: polygon(100% 0, 100% 69.5%, 78.5% 100%, 0 100%, 0 0);
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.labelText {
  padding: 0.5em 0 0.5em 0.4em;
}

.me {
  margin: 0.35em 1.25em 1.25em 0;
  float: left;
  width: 9rem;

  @include mobile {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
  }
}

.pageTitle {
  color: color(text-white);
  font-size: 2em;
  font-family: $head-font;
  text-align: left;
  margin-bottom: 0.5em;
  width: 100%;
}

.tech {
  font-size: 0.7em;
  padding-top: 0.55em;
}
